body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}  
.header{
    background-color: white ;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    width: 200px;
    padding: 5px 5px 5px 5px;
    margin-left: 15px;
    cursor: pointer;

}

.header__menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 40px;
}

.menu-element {
    padding: 5px 5px 5px 5px;
    margin: 5px 15px 5px 15px;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.5s
}

.header__menu:hover .menu-element:hover{
    transform: scale(1.3);
    opacity: 1;
}

.homeView {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: auto;
    background: url(https://images.pexels.com/photos/3075974/pexels-photo-3075974.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    height: calc(100vh - 50px - 34px);
    min-height:300px;

}

@media (max-width: 900px){
    .homeView{
        background-position-x: 50%;
    }
}


.homeView__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    width: 100%;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.input{
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    height: 40px;
    padding: 0px 20px;
    background-color: rgba(1, 1, 1, 0.5);
    width:70%;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.7; /* Firefox */
  }

.categories__tittle{
    font-size: 40px;
    text-align: center;
    margin: 20px 10px;
}

  .destacados{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
    display: flex;
    /* overflow-x: scroll; */
    justify-content: center;
    padding: 10px;
    position: relative;
}

.destacados__container{

    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

  @media(max-width: 1150px) {
    .destacados__container {
        grid-template-columns: 100%;
        grid-gap: 1rem;
    }
  }
.destacados__container:hover .destacados-propertyPreview{
    opacity: 0.9;
}

.destacados__container:hover .destacados-propertyPreview:hover{
    transform: scale(1.03);
    opacity: 1;
}

.destacados-propertyPreview{
    
    display: grid;
    grid-template-rows: auto 60px 0px 20px;
    height: 480px;
    grid-template-columns: 100%;
    border-radius: 5px;
    /* overflow: hidden; */
    /* margin-right: 10px; */
    transition: 450ms all;
    cursor: pointer;
    /* transform-origin: center left; */
}

@media(max-width: 1150px) {
    .destacados-propertyPreview {
        max-width: 100%;
    }
  }

.destacados-propertyPreview__img{
    grid-row: 1 / 3;
    grid-column: 1 / 1;
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.destacados-propertyPreview__details{
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    height: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    background: linear-gradient(to top, rgba(50, 50, 50, 0.7) 0%, rgba(0, 50, 50,0.3) 100% );
    color: white;
}

.propertyPreview__details-area{
   
    grid-column: 1 / 1;
    margin: 5px 0px;
    padding: 5px 10px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.area__value {
    padding: 0px 2px;
    font-size: 12px;
}

.area__icon{
    padding: 0px 2px;
    height: 25px;
}

.propertyPreview__details-rooms{

    grid-column: 2 / 2;
    margin: 5px 0px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: 1px solid gray;
}

.rooms__value {
    padding: 0px 2px;
    font-size: 12px;
}

.rooms__icon{
    padding: 0px 2px;
    height: 25px;
}

.propertyPreview__details-baths{
    
    grid-column: 3 / 3;
    margin: 5px 0px;
    border-left: 1px solid gray;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.baths__icon{
    height: 25px;
}


.propertyPreview__details-price{
    
    grid-column: 4 / 4;
    margin: 5px 0px;
    border-left: 1px solid gray;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.price__value{
    font-size: 12px;
}

.price__type{
    font-size: 10px;
}

.destacados-propertyPreview__title{
    grid-row: 4 / 4;
    grid-column: 1 / 1;
    height: 100%;
    padding: 3px 0px;
    display: inline-grid;
    grid-template-columns: auto 30%;
    font-size: 12px;
    background-color: #f8f3eb;
}

.propertyPreview__title-name{
    align-self: center;
    margin-left: 10px;
    grid-column-start: 1;
}

.propertyPreview__title-ref{
    align-self: center;
    grid-column-start: 2;
    border-left: 1px solid gray;
    padding-left: 30px ;
    justify-self: center;
}

